Korišćen dataset [Tennis Major Tournament Match Statistics] (http://archive.ics.uci.edu/ml/datasets/Tennis+Major+Tournament+Match+Statistics?fbclid=IwAR0iXnL0Dkk1J5HxlFvhqWJn_tPJ02eHcYWCHmf5KHjdeFJbCS-7yKjpCLU) predstavlja kolekciju od 8 data setova, po dva seta podataka za svaki grend slem turnir, gde jedan predstavlja podatke za musku konkurenciju, a drugi podatke za zensku konkurenciju. Svaki dataset ima najmanje 76 reda, svaki sa po 42 kolone. Postoje 127 instanci sa 42 atributa. Potrebno je naci prosecne vrednosti statistika potrebne za pobedu u jednom teniskom mecu.

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import metrics

In [8]:
dataset = pd.read_csv('DataSets/AusOpen-women-2013.csv')
dataset

,Player1,Player2,Round,Result,FNL1,FNL2,FSP.1,FSW.1,SSP.1,SSW.1,...,BPC.2,BPW.2,NPA.2,NPW.2,TPW.2,ST1.2,ST2.2,ST3.2,ST4.2,ST5.2
0,Serena Williams,Ashleigh Barty,1,1,2.0,0.0,59,20,41,8,...,0.0,0.0,2.0,4.0,31,2.0,1.0,NaN,NaN,NaN
1,Vesna Dolonc,Lara Arruabarrena,1,1,2.0,1.0,65,33,35,10,...,4.0,7.0,NaN,NaN,74,6.0,2.0,4.0,NaN,NaN
2,Pauline Parmentier,Karolina Pliskova,1,0,0.0,2.0,63,16,37,4,...,5.0,14.0,NaN,NaN,64,6.0,6.0,NaN,NaN,NaN
3,Heather Watson,Daniela Hantuchova,1,0,1.0,2.0,61,41,39,19,...,5.0,13.0,5.0,8.0,102,7.0,3.0,6.0,NaN,NaN
4,Samantha Stosur,Klara Zakopalova,1,1,2.0,0.0,65,28,35,11,...,4.0,14.0,10.0,15.0,60,3.0,4.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,Simona Halep,Dominika Cibulkova,5,0,0.0,2.0,67,13,33,6,...,5.0,9.0,3.0,4.0,54,6.0,6.0,NaN,NaN,NaN
123,Agnieszka Radwanska,Victoria Azarenka,5,1,2.0,1.0,59,33,41,16,...,2.0,5.0,20.0,34.0,74,1.0,7.0,0.0,NaN,NaN
124,Eugenie Bouchard,Na Li,6,0,0.0,2.0,45,13,55,5,...,6.0,10.0,11.0,14.0,71,6.0,6.0,NaN,NaN,NaN
125,Dominika Cibulkova,Agnieszka Radwanska,6,1,2.0,0.0,64,22,36,10,...,1.0,9.0,4.0,9.0,40,1.0,2.0,NaN,NaN,NaN
126,Na Li,Dominika Cibulkova,7,1,2.0,0.0,60,21,40,15,...,2.0,3.0,3.0,4.0,58,6.0,0.0,NaN,NaN,NaN